---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { readContent } from '../lib/readContent.js';

const projects = readContent('experiences');

---

<Layout>
	<section>
  <h2>Meus Projetos</h2>
  <ul>
    {projects.map(project => (
      <li>
        <h3>{project.slug}</h3>
        <p>{project.company}</p>
		<p>{project.role}</p>
		<p>{project.period}</p>
		<p>{project.description}</p>
      </li>
    ))}
  </ul>
</section>
</Layout>
